<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <head th:replace="basepage :: headstuff"></head>

</head>

<style>
    #outPopUp {
        position: absolute;
        width: 300px;
        height: 200px;
        z-index: 15;
        top: 40%;
        left: 50%;
        margin: -100px 0 0 -150px;
    }
</style>
<body>

<nav th:replace="basepage :: navbar"></nav>
<div class="container " id="outPopUp">
    <div class="jumbotron">
    <form  action="#" th:action="@{/post}" th:object="${user}" method="post" enctype="multipart/form-data">


        <input type="hidden" th:field="*{id}" />


        <div class="form-group">
            <label for="date">Posted Date:</label><br />
            <input type="date" th:field="*{postedDate}" name="date" id="date" ></input>
            <span th:if="${#fields.hasErrors('postedDate')}"
                  th:errors="*{postedDate}"></span> <br />
        </div>

        <div class="form-group">
            <label for="postedBy">Posted By</label> <br />
            <input type="text" th:field="*{sentBy}" name="postedBy" id="postedBy" ></input>
            <span th:if="${#fields.hasErrors('sentBy')}"
                  th:errors="*{sentBy}"></span> <br />
        </div>

        <div class="form-group">
            <label for="message">Message:</label><br />
            <textarea th:field="*{content}" name="content" id="message" cols="20" rows="4"></textarea>
            <span th:if="${#fields.hasErrors('content')}"
                  th:errors="*{content}"></span> <br />
        </div>

        <input type="file" name="file" /> <br />
        <button class="btn btn-success " type="submit">POST</button>
    </form>
</div>
</div>
<nav th:replace="basepage :: footer"></nav>
<th:block th:replace="basepage :: jslinks"></th:block>

</body>
</html>